
body {
    margin: 0;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    color: #333;
    user-select: none;
}
*{
    margin: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
input{
    height: 35px; width: 80%;
    padding: 10px;
    border: 0;
    border-radius: 2px;
    background: #DDD;
    display: block;
}
button{
    height: 35px; width: 80%;
    margin-top: 10px;
    border: 0;
    border-radius: 3px;
    color: #DDD;
    background: Seagreen;
    transition: background 250ms ease-in-out;
    cursor: pointer;
}
.wrapper{
    position: fixed;
    height: 100%; width: 100%;
    background: #BBBBBB;
    overflow-y: auto;
}
.navigation-bar{
    position: relative;
    height: 60px; width: 100%;
    background: firebrick;
    display: flex;
    align-items: center;
}
.title{
    position: relative;
    width: 100%;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 700;
    color: #DCDCDC;
    text-align: center;
}
.container{
    position: relative;
    height: auto; width: 95%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 3px;
    background: #AAAAAA;
    display: block;
}
.program-title{
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
label{
    margin-bottom: 10px;
    display: block;
}
.result{
    margin: 10px 0 5px 0;
    opacity: 0;
    transition: opacity 100ms linear;
}
.factorial-number{
    margin-bottom: 50px;
}
.note{
    position: relative;
    border-left: 5px solid steelblue;
    padding: 5px 10px;
    background: lightsteelblue;
}
.sr-result{
    padding: 0 30px;
}
.desc{
    padding: 0 50px;
    margin-bottom: 15px;
    text-align: center;
}
.trademark{
    bottom: 10px;
    padding: 8px 10px;
    color: Gold;
    border-radius: 0 3px 3px 0;
    font-size: 0.7em;
    text-align: center;
    background: #444;
}
